/* ########## FONT ########## */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Favorit;
  src: url('../font/Favorit-Bold_Lining.woff') format('woff')
}

/* ########## DOM ########## */
html {
  --color-main: #9437FF;
  --color-primary: #D97559;
  --color-secondary: #F8D583;
  --font-secondary: Favorit;
  --font-text: "Inter", sans-serif;
  --font-light: 300;
  --font-reg: 400;
  --font-med: 500;
  --font-bold: 600;
  --font-xbold: 700;
  --font-xxbold: 800;
  --fontitalic: italic;
  --fontsize-title: 18px;
}

body {
overflow-x: hidden;
}

footer {

}

a {
  text-decoration: none;
}

nav {

}

.websiteMargin {
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  background-color: #2E4552;
  height: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.header > div > div > div > a {
  color:white;
}

#footer {
  background-color: #2E4552;
}
/* ########## TYPO ########## */


/* ########## UTILITY ########## */


/* ########## MARQUEE ########## */
 .marquee {
  overflow: hidden;
  --offset: 0vw;
  --move-initial: calc(-5% + var(--offset));
  --move-final: calc(-20% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: running;
}

.marquee span {
  font-size: 25px;
  padding: 0 2vw;
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-style: var(--fontitalic);
  color: var(--color-text-secondary);
}

.country span {
  color: white;
  background-color: var(--color-primary);
}

/*.marquee__inner {
  animation-play-state: running;
  cursor:context-menu;
}*/

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/* ########## NAVBAR ########## */


/* ########## HOME PAGE ########## */
body {

  background-color: var(--color-secondary);
}

/* ########## CATEGORY PAGE ########## */


/* ########## PRODUCT PAGE ########## */
.titolo {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-style: var(--fontitalic);

}

.price {
  font-family: var(--font-secondary);
  font-weight: var(--font-bold);
}

.metodo {
  background-color: #2E4552;
  padding: 5px 15px 5px 15px;
  font-size: 30px;
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-style: var(--fontitalic);
}

.sentence {
  font-size: 35px;
  font-family: var(--font-secondary);
  font-weight: var(--font-bold);
  text-align: center;
}

.consequences {
  background-color: #4E9B8F;
  color:white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  font-size: 30px;
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-style: var(--fontitalic);
}

.shopalso {
  font-size: 25px;
  font-family: var(--font-secondary);
  font-weight: var(--font-bold);
}
/* ########## ABOUT PAGE ########## */
@media only screen and (max-width: 1300px) {
  .websiteMargin {
    margin-left: 50px;
    margin-right: 50px;
  }
}


/* iphone */
@media only screen and (max-width: 414px) {
  .websiteMargin {
    margin-left: auto;
    margin-right: auto;
  }
}
